extends ../includes/_layout.pug

block title
    title 伊7'友善 讓愛無礙

block scss
    link(rel='stylesheet', href= public +'/lib/styles/swiper.min.css')


block main
    div#app
        section#banner
            img.logo_friendly(src=assets+"/images/logo_friendly.svg", alt="")
            img.ppl_mb.mb(src=assets+"/images/ppl_mb.jpg", alt="")

            .bg_orange
                img.comma(src=assets+"/images/dot.svg", alt="")
                .text.f_white(:class="{'show': isloaded}")
                    h1 伊7'友善 讓愛無礙
                    h3.f19 在台灣，每20個人就有一位是身心障礙者，在生活中，他們除了需要面對自身障礙所帶來的考驗外，就連生活環境也處處充滿挑戰。友善，是我們可以給身心障礙朋友的溫暖。伊甸基金會愛心大使張睿家，誠摯地邀請您與我們一同響應7個友善行動任務，讓愛無礙從你、我開始做起！
                    a(href="javascript:;", @click="ScrollHandler('story')")
                        | 現在開始，伊7’友善行動任務，Action&nbsp;
                        span >>>>>>
                    p.f_grey.f16
                        | 目前已有
                        font.f_white {{ totalVote }}
                        | 人一起參與友善行動，
                        br.mb
                        | 為身心障礙朋友打造有愛無礙的環境

            img.ppl.pc(src=assets+"/images/ppl.png", alt="")


        section#about
            img.abt_title.pc(src=assets+"/images/about.svg")
            .content.scr
                h5.f45.f_orange 為什麼是7個友善行動任務?
                p.f19
                    font
                    | 兩個7的手勢「&nbsp;
                    img(src=assets+"/images/pointer.svg", alt="")
                    | &nbsp;」等於一顆愛心 ♥
                    br
                    | 在我們生活周遭，總會遇見許多身心障礙朋友，
                    br.mb
                    | 透過一些暖心小舉動，
                    br.pc
                    | 期待您與伊甸一起，
                    br.mb
                    | 給予身心障礙朋友支持，也學習如何與他們相處。
                    br
                    | 愛多一點，包容也多一點，
                    br.mb
                    | 期待我們能為身心障礙朋友們，
                    br
                    | 打造一個「有愛無礙」的友善環境與社會。
                div
                h5.f45.f_orange
                    | 邀請您，
                    br.mb
                    | 伊「7」響應友善行動任務!
                p.f19
                    | 請點選下方了解7個友善任務說明，
                    br.mb
                    | 完成任務後分別按下
                    br.mb
                    | 「友善多一點，我+1」按鈕即完成響應。
                    br.mb
                    |
                    br.pc
                    | 也可將友善行動任務分享至您的社群平台，
                    br.mb
                    | 邀請更多朋友一起響應友善行動任務噢！

        section#story(ref="story")
            img.action(src=assets+"/images/action.svg", alt="")
            div.story_item.W100(v-for="(item, idx) in stories",:id="'st_0'+idx", :ref="'st_0'+idx",:key="idx")
                .border(:style="{'background-color':item.color }")
                .W1366.scr
                    //- img.pic(:src="'assets/images/a-'+(idx+1)+'-p.jpg'", alt="")
                    .text
                        img(:src="'assets/images/pc/title-'+(idx+1)+'.svg'", alt="")
                        a(:href="'/story_0'+(idx+1)+'.html'", :style="{'border-color':item.color, 'color': item.color }")
                            font(:style="{'background-color':item.color }")
                            span
                                | GO
                                br
                                | +1

                img.scr.pic(:src="'assets/images/a-'+(idx+1)+'-p.jpg'", alt="")

        section#video
            img.title(src=assets+"/images/title.svg", alt="")
            img.line(src=assets+"/images/line.svg", alt="")
            .video_wrap
                .main_v.scr
                    img.line(src=assets+"/images/pad.png", alt="")
                    .frame
                        iframe(width="100%",height="100%",:src="'https://www.youtube.com/embed/'+ currentVideo",frameborder="0",allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
                        //- img(src=assets+"/images/frame.png", alt="")

                .swiper-container#video_nav.scr
                    .swiper-wrapper
                        .swiper-slide(v-for="(video, index) in videos", :data-id="video.youtubeId")
                            //-  ,@click="videoHandler(video.youtubeId)"
                            img(:src="'assets/images/v'+ video.img +'.jpg'", alt="")
                            h3.title_v {{video.title}}
                            p.des_v {{video.des}}

                    .pagination
                        .swiper-button-prev
                            img(src=assets+"/images/slide_arrow.svg", alt="")
                        .swiper-button-next
                            img(src=assets+"/images/slide_arrow.svg", alt="")



        section#Link
            div
                img.links.pc(src=assets+"/images/links.svg", alt="")
                img.links.mb(src=assets+"/images/links_m.svg", alt="")

                ul
                    li
                        a(href="https://barrierfree.eden.org.tw/", target="_blank")
                            img(src=assets+"/images/link-1.svg", alt="")
                    li
                        a(href="https://reurl.cc/rxA7OE", target="_blank")
                            img(src=assets+"/images/link-2.svg", alt="")
                    li
                        a(href="https://barrierfree.eden.org.tw/%e8%ba%ab%e5%bf%83%e9%9a%9c%e7%a4%99%e8%80%85%e6%9c%8d%e5%8b%99%e8%a8%88%e7%95%ab/%e7%84%a1%e9%9a%9c%e7%a4%99%e7%94%9f%e6%b4%bb%e7%af%80/", target="_blank")
                            img(src=assets+"/images/link-3.svg", alt="")
                    li
                        a(href="https://edenmall.eden.org.tw/", target="_blank")
                            img(src=assets+"/images/link-4.svg", alt="")







block js
    script(src= public +'/lib/js/scrollreveal.js' defer)
    script(src= public +'/lib/js/swiper.min.js' defer)
    script(src= public +'/lib/js/vue@2.6.11.min.js' defer)
    script(src=public + '/lib/js/animatedScrollTo.js' defer)
    script(src=assets + '/js/index.bundle.js' defer)
